<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60153877141-mhi0vqjb40mb8phfaa485c45u1vo6fio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60153877141-mhi0vqjb40mb8phfaa485c45u1vo6fio</string>
	<key>API_KEY</key>
	<string>AIzaSyBcydLgYJ4tRBjNSX1LX1liDX3GHDCODRA</string>
	<key>GCM_SENDER_ID</key>
	<string>60153877141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sanglee325.github.io.what-to-wear-today-2</string>
	<key>PROJECT_ID</key>
	<string>what-to-wear-today-2</string>
	<key>STORAGE_BUCKET</key>
	<string>what-to-wear-today-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60153877141:ios:2a41c4219f9c937138419c</string>
	<key>DATABASE_URL</key>
	<string>https://what-to-wear-today-2.firebaseio.com</string>
</dict>
</plist>